# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.env
.env.*
.venv/
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# IDE Files
.idea/
.vscode/
*.suo
*.user
*.userprefs
*.sln.docstates

# Secrets - Be cautious, add specific files if needed
# secrets.yml
# *.pem
# *.key
